.idea/
/e-fon-auto.iml
target/
*.iml
test-result/
.allure/
allure-report/
allure-results/
build/
/test.xlsx
/src/test/java/testSuitsXML/testng.xml
/tempTestData/phonebook.xlsx
/AutoTestPhonebook.xlsx
/f.txt
/debug.log
/environment.properties


